*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding-top: 50px;
  color: #fff;
}

.wrapper{
  width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.main-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-calendar{
  width: 700px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #4cd137;
  position: relative;
}

.top-calendar h1{
  font-size: 45px;
  text-transform: capitalize;
  width: 400px;
  text-align: center;
}
.top-calendar i{
  cursor: pointer;
  font-size: 35px;
}

.btn-navigation:disabled{
     background-color: #efefef;
     cursor: not-allowed;
}

.festivo {
    color: red;
}

.days{
  width: 700px;
  display: flex;
  margin: 0 auto;
  background: #44bd32;
}
.days.animation{
  animation: opo 0.5s;
}
.days.animation-two{
  animation: opoo 0.5s;
}
.days div{
  width: 100px;
  height: 40px;
  border: 1px solid #00000090;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

#calendar{
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  color: #000000;
}
#calendar div{
  width: 100px;
  height: 50px;
  border: 1px solid #00000090;
  animation: op 0.8s;
}

@keyframes op {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
