*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding-top: 50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper{
  width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.main-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-calendar{
  width: 700px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #487eb0;
  position: relative;
}

.top-calendar h1{
  font-size: 45px;
  text-transform: capitalize;
  width: 400px;
  text-align: center;
}
.top-calendar i{
  font-size: 35px;
}
.top-calendar .fas.fa-chevron-left{
  transform: translate(-10%);
}
.top-calendar .fas.fa-chevron-right{
  transform: translate(10%);
}
.btn-navigation{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #353b4850;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-navigation.disabled{
  pointer-events: none;
}
.btn-navigation:hover{
  background: #353b4890;
}

.festivo {
    color: red;
}

.days{
  width: 700px;
  display: flex;
  margin: 0 auto;
}
.days.animation{
  animation: opo 0.5s;
}
.days.animation-two{
  animation: opoo 0.5s;
}
.days div{
  width: 100px;
  height: 40px;
  /* border: 1px solid #00000090; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background: #40739e;
}

#calendar{
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  color: #000000;
  font-size: 12px;
  background: #fff;
}
#calendar div{
  width: 100px;
  height: 50px;
  /* border: 1px solid #00000080; */
  animation: op 0.8s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#calendar div:hover{
    background: #dcdde1;
}

@keyframes op {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
